<div class="container">
    <div class="board">
        <div class="word"><p>the drawing</p></div>
        <canvas id="canvas" #canvas height="256" width="256" [style.display]="(!aiDrawing || showCounter) ? 'block' : 'none'"></canvas>
        <div *ngIf="aiDrawing && !showCounter">
            <p *ngIf="!imageUrl">generating image...</p>
        </div>
        <div class="image-container" *ngIf="aiDrawing && imageUrl && !showCounter">
            <div *ngFor="let piece of revealedPieces; let i = index" class="image-piece" [ngClass]="{ 'revealed': revealedIndices[i] }">
                <img *ngIf="revealedIndices[i]" [src]="piece" alt="Image Piece {{ i + 1 }}">
            </div>
        </div>
        <div class="button-container" *ngIf="aiDrawing">
            <button (click)="downloadImage()">get image</button>
        </div>
        <p *ngIf="showCounter">next round starts in: <span>{{count}}</span></p>
    </div>
    <div class="chat-container">
        <p>username: <span>{{username}}</span></p>
        <div class="chat">
            <div class="view">
                <div class="view-part" [ngClass]="{'active': activeView === 0}" (click)="activeView = 0">chat</div>
                <div class="view-part" [ngClass]="{'active': activeView === 1}" (click)="activeView = 1" (click)="getPlayerScores()">scores</div>
            </div>
            <div class="chat-data" *ngIf="activeView == 0">
                <div class="message" *ngFor="let message of messages">
                    {{ message }}
                </div>
            </div>
            <div class="chat-data" *ngIf="activeView == 1 && players.length > 0">
                <div class="message" *ngFor="let player of players">
                    {{ player.username }}: {{ player.score }}
                </div>
            </div>
        </div>
        <div class="guess-box">
            <input type="text" placeholder="type in your guess" [(ngModel)]="guessInput">
            <button (click)="guess()">send</button>
        </div>
        <p>send this code to a friend: <span>{{ roomId }}</span></p>
    </div>
</div>
